.navbar {
  height: 55px;
  background-color: #99d3df;
  padding: 0 1rem;
  border-bottom: 20px;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  /*transition-timing-function: linear;*/
  transition: opacity 0.2s;
}
.fadeIn {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  /*transition-timing-function: linear;*/
  transition: opacity 0.4s;
}
